<!DOCTYPE html>
<html>
  <head>
    <title>FiletreeMetaManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <p style="color: green" id="notice"><%= flash[:notice] %></p>
      <p style="color: green" id="alert"><%= flash[:alert] %></p>
    </div>

    <%= yield %>
  </body>
</html>
